.wrapper {
    padding: 10px;
    border-radius: 10px;
}

.photoCard img {
    width: 200px;
    height: 250px;
    object-fit: cover;
    border-radius: 20px;
}

.title {
    font-size: 1.2rem;
    font-weight: bold;
    padding-bottom: 8px;
}

.desc {
    color: gray;
}

.footer {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
}

.footer>button {
    background-color: rgb(250, 210, 150);
    border: none;
    border-radius: 10px;
    padding: 5px;
}