.wrapper {
    height: 120px;
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
    padding: 0 20px;
    gap: 30px;
}

.left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.logoText {
    font-size: 20px;
    font-weight: bold;
    width: 200px;
}

.left img {
    width: 45px;
}

.right {
    display: flex;
    align-items: center;
}

.right>button {
    background-color: orange;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
}