.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
}

.wrapper img {
    object-fit: cover;
    width: 150px;
    border-radius: 20px;
    border: 3px solid orange;
    padding: 3px;
}